/* fonts */
@import url('https://fonts.googleapis.com/css?family=Mr+Bedfort');
@import url('https://fonts.googleapis.com/css?family=Aubrey');

body {
  position: relative;
  background-color: #696969;
  font-family: 'Aubrey', cursive;
  color: #fff;
}

.page-header {
  border-bottom: 1px solid #333;
  background-color: #333;
  margin: 0;
  padding: 10px 0;
}

.page-header>h1 {
  padding-left: 20px;
  color: #FF0000;
  text-shadow: -.5px 0 #000, 0 .5px #000, .5px 0 #000, 0 -.5px #000;
  border-bottom: none;
  background-color: #333;
  margin: 0;
}

/* universal styles start */
.text-shadow {
  text-shadow: -.5px 0 #000, 0 .5px #000, .5px 0 #000, 0 -.5px #000;
}

.text-shadow-white {
  text-shadow: -.5px 0 #fff, 0 .5px #fff, .5px 0 #fff, 0 -.5px #fff;
}

.grey-text {
  color: #696969;
}

.red-text {
  color: #FF0000;
}

.white-text {
  color: #fff;
}

.brand-text {
  font-family: 'Mr Bedfort', cursive;
}

.jumbotron>.container>h2,
.jumbotron>.container>p,
.jumbotron>h3 {
  background-color: rgba(0, 0, 0, .3);
}

.container-padding {
  padding: 100px 0;
}
/* universal styles end */

/* navbar styles start */
.navbar-default {
  height: auto;
  background-color: #000;
  border: none;
}

.nav-pills {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: inherit;
}

.nav-pills>li>a {
  background-color: transparent;
  color: #696969; //grey-text
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus {
  background-color: rgba(105, 105, 105, .5);
  color: #FF0000; //grey-text
  font-size: 16px;
}

.nav-pills>li>a:hover,
.nav-pills>li.active>a:hover{
  background-color: transparent;
  color: #FF0000; //red-text
}
/* navbar styles end */

/* jumbotron styles start */
.jumbotron {
  height: 500px;
  background-image: url('../img/macbook-rainbow.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  background-attachment: fixed;
}

.jumbotron>.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
/* jumbotron styles end */

/* about styles start */
.about-padding {
  padding: 50px 50px;
}

.about-flex {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
/* about styles end */

/* work styles start */
.thumbnail {
  background-color: transparent;
  border: none;
}

.work-shadow>a:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}
/* work styles end */

/* coffee background styles start */
.jumbotron-coffee {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 20px;
  height: 100%;
  background-image: url('../img/coffee.jpg');
  background-size: cover;
  background-position: center;
}
/* coffee background styles end */

/* contact form styles start */
.contact-text {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
}

.form-flex {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #333;
  border: 1px solid #fff;
  padding: 15px;
}

.form-control {
  background-color: #696969;
  border: 1px solid #fff;
  color: #fff;
}

textarea {
  margin-top: 20px;
}

.btn-default {
  background-color: transparent;
  color: #fff;
}
/* contact form styles end */

/* footer styles start */
footer {
  background-color: #000;
  color: #696969;
}

.flex-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer-nav>.nav-pills {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.footer-nav>.nav-pills>li.active>a,
.footer-nav>.nav-pills>li.active>a:focus {
  background-color: transparent;
  color: #696969;
  font-size: 16px;
}

.footer-nav>.nav-pills>li>a:hover,
.footer-nav>.nav-pills>li.active>a:hover{
  background-color: transparent;
  color: #FF0000; //red-text
}

.flex-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social-circle {
 background-color: #333;
 border-radius: 30px;
 display: inline-block;
 height: 30px;
 line-height: 30px;
 margin: auto 3px;
 width: 30px;
 font-size: 15px;
 text-align: center;
}

.fa {
  font-size: 18px;
  text-decoration: none;
  color: #696969;
}

.flex-social>a:hover {
  text-shadow: -.5px 0 #fff, 0 .5px #fff, .5px 0 #fff, 0 -.5px #fff;
}

.footer-brand {
  font-family: 'Mr Bedfort', cursive;
  color: #FF0000;
}

.copy>a, .copy>a:hover {
  text-decoration: none;
  color: #696969;
}
/* footer styles end */

/* media queries start */
@media only screen and (max-width: 767px) {
  [class*="col-"] {
    width: 100%;
  }
  }
