/* fonts */
@import url('https://fonts.googleapis.com/css?family=Mr+Bedfort');
@import url('https://fonts.googleapis.com/css?family=Aubrey');

body {
  background-color: #696969;
  font-family: 'Aubrey', cursive;
  color: #fff;
}

/* navbar styles start */
.navbar-default {
  height: auto;
  background-color: #000;
  border: none;
  margin-bottom: 0;
}

.navbar-brand {
  font-family: 'Mr Bedfort', cursive;
}

.logo-image {
  height: 50px;
  width: 50px;
}

.nav-pills {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: inherit;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background-color: transparent;
  color: #696969; //grey
  font-size: 14px;
}

.nav-pills>li>a,
.nav-pills>li>a:hover {
  background-color: transparent;
  color: #696969;
}

.nav-pills>li>a:hover {
  font-size: 18px;
  text-shadow: -.5px 0 #fff, 0 .5px #fff, .5px 0 #fff, 0 -.5px #fff;
}
/* navbar styles end */

/* jumbotron styles start */
.jumbotron {
  height: 500px;
  background-image: url('../img/macbook-rainbow.jpg');
  background-color: #cccccc;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: .6;
  color: #fff;
  margin-bottom: 0;
}

.jumbotron-container {
  text-align: center;
}

.fa-angle-down {
  font-size: 20px;
  color: #fff;
}

.fa-stack {
  font-size: 30px;
  color: #fff;
}
/* jumbotron styles end */

/* about styles start */
.about {
  margin-left: 20px;
}

.about-text {
  text-align: justify;
}

.flex-carousel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
/* about styles end */

/* portfolio styles start */
.thumbnail>a:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}
/* portfolio styles end */

/* contact form styles start */
.form-control {
  background-color: transparent;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.2), 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  color: #000;
}
.btn-default {
  background-color: transparent;
  box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.2), 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  border: none;
}
/* contact form styles end */
